#homeSection {
    background-color: #722ED1;
    width: 100%;
    font-family: "Segoe UI";
    color: white;
}

#homeSection .leftColumn, #homeSection .rightColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1080px;
    text-align: center;
}

/* =================================== */
/* Left Column */
/* =================================== */
#homeSection .leftColumn > div {
    text-align: center;
}

#homeSection .leftColumn h1 {
    font-family: "Fjalla One";
    font-size: 140px;
    color: white;
    margin: -13px 0 0 0;
}

#homeSection .leftColumn p {
    font-size: 37px;
    font-style: italic;
    margin: -30px 0 0 0;
}

/* =================================== */
/* Login Form */
/* =================================== */
.loginForm_container {
    background-color: white;
    box-shadow: 0 3px 6px #00000063;
    width: 664px;
    padding: 35px 97px;
}

.loginForm_container h2 {
    color: #707070;
    font-size: 44px;
    text-align: center;
}

.loginForm_container input {
    font-size: 29px;
    font-style: italic;
    margin-bottom: 37px;
}

.loginForm_container .loginBtn {
    font-size: 27px;
    height: 69px;
    width: 100%;
    border-radius: 0;
}

.loginForm_container p {
    font-size: 16px;
    color: #707070;
    textAlign: center;
}